<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{styles/css/adminpage.css}">
</head>

<body>
<div class="container">
    <div class="header" id="header">
        <!--        header-->
        <div class="header-nav">
            <div class="header-wrapper">
                <img th:src="@{img/logo.png}" alt="" class="logo">
                <div class="navigation">
                    <a href="index">
                        <div class="nav-item">MAIN</div>
                    </a>
                    <a href="catalog">
                        <div class="nav-item">CATALOG</div>
                    </a>
                    <a href="features"><div class="nav-item">TAROT FEATURES</div></a>
                    <a href="conditions"><div class="nav-item">CONDITIONS OF SALE</div></a>
                    <div class="nav-item">questions</div>
                    <a href="basket">
                        <div class="nav-item">buy</div>
                    </a>
                </div>
                <div class="header-links">
                    <img th:src="@{img/vk.png}" alt="" class="link-item">
                    <img th:src="@{img/telegram.png}" alt="" class="link-item">
                </div>
            </div>
        </div>
        <!--        header-->

        <div class="header-content">
            <div class="main-text">Admin</div>
            <button type="button" id="bubutton" class="button">
                THEME
            </button>
        </div>

<!--STATISTICS-->
        <div class="profile-info">
            <div class="profile-text_info" id="profile-text_info">
                <div class="statistics">
                    Statistics Sold Cards:
                    <div th:text="${soldcards.size()}"></div>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid white;">ID</th>
                        <th style="border: 1px solid white;">card</th>
                        <th style="border: 1px solid white;">client</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="soldcards : ${soldcards}">
                        <tr>
                            <td style="border: 1px solid white;"  th:text="${soldcards.id}">...</td>
                            <td style="border: 1px solid white;"  th:text="${soldcards.card}">...</td>
                            <td style="border: 1px solid white;"  th:text="${soldcards.client}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div>
                    <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script th:inline="javascript">
                    let stpurchase = [[${pcount}]];
                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                      type: 'bar',
                      data: {
                        labels: stpurchase.map(i => i.month),
                        datasets: [{
                          label: 'soldcards',
                          data: stpurchase.map(i => i.pcount),
                           backgroundColor: 'rgba(255, 181, 72, 1)',
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true,
                            ticks: {stepSize: 1}
                          }
                        }
                      }
                    });
                </script>

                <button class="statistics_btn">
                    ADD
                </button>


                <div class="statistics">
                    Statistic Cards:
                    <div th:text="${card.size()}"></div>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid white;">ID</th>
                        <th style="border: 1px solid white;">Name</th>
                        <th style="border: 1px solid white;">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="card : ${card}">
                        <tr>
                            <td style="border: 1px solid white;" th:text="${card.id}">...</td>
                            <td style="border: 1px solid white;" th:text="${card.name}">...</td>
                            <td style="border: 1px solid white;" th:text="${card.price}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <button class="statistics_btn">
                    ADD
                </button>


                <div class="statistics">
                    Statistics Users:
                    <div th:text="${users.size()}"></div>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid white;">ID</th>
                        <th style="border: 1px solid white;">login</th>
                        <th style="border: 1px solid white;">password</th>
                        <th style="border: 1px solid white;">registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td style="border: 1px solid white;" th:text="${user.id}">...</td>
                            <td style="border: 1px solid white;" th:text="${user.login}">...</td>
                            <td style="border: 1px solid white;" th:text="${user.password}">...</td>
                            <td style="border: 1px solid white;" th:text="${user.registration}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div>
                    <canvas id="myChart2"></canvas>
                </div>

                <script th:inline="javascript">
                    let stusers = [[${userscount}]];
                    const ctz = document.getElementById('myChart2');

                    new Chart(ctz, {
                      type: 'bar',
                      data: {
                        labels: stusers.map(i => i.month),
                        datasets: [{
                          label: 'users registration',
                          data: stusers.map(i => i.userscount),
                          borderWidth: 1,
                          backgroundColor: 'rgba(255, 181, 72, 1)'
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true,
                            ticks: {stepSize: 1}
                          }
                        }
                      }
                    });
                </script>

                <button class="statistics_btn">
                    ADD
                </button>


                <div class="statistics">
                    Statistics Clients:
                    <div th:text="${client.size()}"></div>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid white;">ID</th>
                        <th style="border: 1px solid white;">username</th>
                        <th style="border: 1px solid white;">email</th>
                        <th style="border: 1px solid white;">payments</th>
                        <th style="border: 1px solid white;">address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="client : ${client}">
                        <tr>
                            <td style="border: 1px solid white;" th:text="${client.id}">...</td>
                            <td style="border: 1px solid white;" th:text="${client.username}">...</td>
                            <td style="border: 1px solid white;" th:text="${client.email}">...</td>
                            <td style="border: 1px solid white;" th:text="${client.payments}">...</td>
                            <td style="border: 1px solid white;" th:text="${client.address}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <button class="statistics_btn">
                    ADD
                </button>


                <div class="statistics">
                    Statistics Reviews:
                    <div th:text="${reviews.size()}"></div>
                </div>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid white;">ID</th>
                        <th style="border: 1px solid white;">username</th>
                        <th style="border: 1px solid white;">description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="reviews : ${reviews}">
                        <tr>
                            <td style="border: 1px solid white;" th:text="${reviews.id}">...</td>
                            <td style="border: 1px solid white;" th:text="${reviews.username}">...</td>
                            <td style="border: 1px solid white;" th:text="${reviews.description}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <button class="statistics_btn">
                    ADD
                </button>

            </div>
        </div>
    </div>


    <!--    footer-->
    <div class="footer">
        <div class="footer-group-1">
            <img th:src="@{img/logo.png}" alt="" class="footer-logo"></img>
            <div class="footer-nav">
                <a href="index">
                    <div class="nav-item">MAIN</div>
                </a>
                <a href="catalog">
                    <div class="nav-item">CATALOG</div>
                </a>
                <a href="features"><div class="nav-item">TAROT FEATURES</div></a>
                <a href="conditions"><div class="nav-item">CONDITIONS OF SALE</div></a>
                <div class="nav-item">questions</div>
                <a href="basket">
                    <div class="nav-item">buy</div>
                </a>
            </div>
            <div class="footer-soc">
                <img class="footer-soc-item" alt="" th:src="@{img/telegram.png}"></img>
                <img class="footer-soc-item" alt="" th:src="@{img/vk.png}"></img>
            </div>
        </div>
        <div class="stick"></div>
        <div class="footer-group-2">
            <div class="footer-text copyright"> © 2024 raewda production</div>
            <div class="footer-text">Privacy Policy | Terms of Services | Code of Conduct</div>
        </div>
    </div>
    <!--    footer-->
</div>
</body>

<!--<script th:src="@{/js/admin.js}"></script>-->
<script th:src="@{/js/theme.js}"></script>

<style th:inline="text">
    .header{
        background: url([[@{/img/bg5.png}]])
                    no-repeat center;
        background-size: cover;
    }
    .profile-text_info{
        color: #FFB548;
    }
    .header_dark{
        background: url([[@{/img/bg3.png}]])
                    no-repeat center;
        background-size: cover;
    }
    .profile-text_info_dark{
        color: white;
    }
</style>


</html>