<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" th:href="@{styles/css/cart.css}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-nav">
                <div class="header-wrapper">
                    <img th:src="@{img/logo.png}" alt="" class="logo">
                    <div class="navigation">
                        <a href="index">
                            <div class="nav-item">MAIN</div>
                        </a>
                        <a href="catalog">
                            <div class="nav-item">CATALOG</div>
                        </a>
                        <a href="features"><div class="nav-item">TAROT FEATURES</div></a>
                        <a href="conditions"><div class="nav-item">CONDITIONS OF SALE</div></a>
                        <div class="nav-item">questions</div>
                        <a href="basket"><div class="nav-item">buy</div></a>
                    </div>
                    <div class="header-links">
                        <img th:src="@{img/vk.png}" alt="" class="link-item">
                        <img th:src="@{img/telegram.png}" alt="" class="link-item">
                    </div>
                </div>
            </div>
            <div class="header-content">
                <div class="main-text">CARD</div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-group-1">
                <img th:src="@{img/logo.png}" alt="" class="footer-logo"></img>
                <div class="footer-nav">
                    <a href="index">
                        <div class="nav-item">MAIN</div>
                    </a>
                    <a href="catalog">
                        <div class="nav-item">CATALOG</div>
                    </a>
                    <a href="features"><div class="nav-item">TAROT FEATURES</div></a>
                    <a href="conditions"><div class="nav-item">CONDITIONS OF SALE</div></a>
                    <div class="nav-item">questions</div>
                    <a href="basket"><div class="nav-item">buy</div></a>
                </div>
                <div class="footer-soc">
                    <img class="footer-soc-item" alt="" th:src="@{img/telegram.png}"></img>
                    <img class="footer-soc-item" alt="" th:src="@{img/vk.png}"></img>
                </div>
            </div>
            <div class="stick"></div>
            <div class="footer-group-2">
                <div class="footer-text copyright"> © 2024 raewda production</div>
                <div class="footer-text">Privacy Policy | Terms of Services | Code of Conduct </div>
            </div>
        </div>
    </div>
    </div>
</body>

<script th:src="@{/js/card.js}"></script>



</html>

