<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>game</title>
  <link th:href="@{styles/css/game.css}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="header-nav">
    <div class="navigation">
      <a href="me">
        <div class="nav-item">back</div>
      </a>
    </div>
  </div>
  <a id="br" href="game2" class="but2">START</a>

  <script th:src="@{/js/game.js}"></script>

</body>

<style th:inline="text">
  .body{
      background: url([[@{/img/bg6.png}]])
                  no-repeat center;
  background-size: cover;
  }

</style>

</html>